{% extends "base.html" %}
{% block headdiv %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Opps</h1>
</div>
{% endblock %}
{% block content %}
         
<div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">404</h4>
      </div>
      <div class="card-body">
         <div class="row">
            Page Not Found
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block footer%}
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; 2018</small>
      </div>
    </div>
  </footer>
</div>
{% endblock %}