{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Recently Added </span>
      </h4>
      <ul class="list-group mb-3">
        {% for item in RecentList %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{ item.name }}</h6>
            <small class="text-muted"><a href="https://www.imdb.com/title/{{ item.imdbID }}" target="__blank">View Details</a></small>
          </div>
          <span class="text-muted">{{ item.Year }}</span>
        </li>
        {% endfor %}
       
      </ul>

       
    </div>
    <div class="col-md-8 order-md-1">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h4 class="display-4">Edit Open Movie</h4>
        </div>

      <h4 class="mb-3">Movie Info</h4>
      <form class="needs-validation" novalidate="" method="POST">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Movie name</label>
            <input class="form-control"  name="Title" placeholder="Enter Movie Title" value="{{ movie.name }}" required="" type="text">
            <div class="invalid-feedback">
              Valid  name is required.
            </div>
          </div>
          
          <div class="col-md-6 mb-3">
              <label for="lastName">Movie Year</label>
              <input class="form-control"   name="Year"  maxlength="4"  placeholder="Enter Year" value="{{ movie.Year }}" required="" type="text">
              <div class="invalid-feedback">
                Valid genres is required.
              </div>
            </div>
            
            <div class="col-md-12">
            <label for="lastName">Movie IMdb ID </label>
            <input class="form-control"   name="imdbID"  maxlength="255" placeholder="Enter IMdb" value="{{ movie.imdbID }}" required="" type="text">
            <div class="invalid-feedback">
              Valid description is required.
            </div>
          </div>
          <div class="col-md-12">
              <label for="lastName">Movie Poster URL </label>
              <input class="form-control"   name="Poster"  maxlength="255" placeholder="Enter URL" value="{{ movie.Poster }}" required="" type="text">
              <div class="invalid-feedback">
                Valid description is required.
              </div>
              
            </div>
        </div> 
        
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
{% block footer%}
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; 2018</small>
      </div>
    </div>
  </footer>
</div>
{% endblock %}